.csspart2{
    
    height:219px;
    width:475px;
    border:2px solid black;
    border-radius: 30px;
    background-color: rgb(225, 126, 206);
    margin-top: 143px;
    margin-left: 700px;
    text-align: center;
}

